@font-face {
    font-family: 'MyFont';
    src:  url('./msyh.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}
.hello {
    color: #f33;
    background: url('./icon.jpg');
    font-family: 'MyFont'
}